body{

    
    background-color: aliceblue;
}


.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:19px;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Change this to row */
    gap: 10px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px rgba(133, 133, 133, 0.204);
  }

  .card:hover{
  width: 301px;
    height: 301px;
 

  }
  

.img{

    width: 100%;
    height: 50%;
    object-fit: cover;
}

button{

    padding:10px 50px;
    text-align: center;

    background-color: rgb(167, 241, 20);
    border: none;
    border-radius: 10px;
    border-color: antiquewhite;
}

button:hover{
    background-color: greenyellow;
}